include ../../../base

+b.contest-list
    +e.header {{title}}

    +b.contest-element(*ngFor='let contest of contests', routerLink='/contest/{{contest.id}}')
        +e.image
            img([src]='contest.imageURL | defaultImage')
        +e.right
            +e.name {{contest.title}}
            +e.info
                ng-container(*ngIf='contest.started')
                    | {{contest.end | timeLeft}}
                ng-container(*ngIf='!contest.started')
                    | {{contest.start | timeLeft}}
