.contest-header {
  display: flex;
}

.contest-header__image {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  margin-right: 32px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.contest-header__title {
  @include h2;
  margin-top: 8px;
}

.contest-header__info {
  margin-top: 20px;
  font-size: 20px;

  a {
    @include link;
  }
}

.contest-deadline {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.contest-deadline__icon {
  flex-shrink: 0;
  width: 24px; 
  margin-right: 16px;

  svg {
    fill: $lightgray;
  }
}

.contest-deadline__text {
  font-size: 20px;
  color: $gray;
}

.contest-description {
  margin-top: 48px;
}

.contest-description__header {
  @include h3;
}

.contest-description__content {
  margin-top: 24px;
  font-size: 20px;
  line-height: 30px;
}

.contest-leaderboard {
  margin-top: 40px;
  
  @include for-tablet-landscape-up {
    margin-top: 80px;
  }
}

.contest-leaderboard__header {
  @include h3;
  margin-bottom: 40px;
}

.contest-leaderboard__element {
  display: flex;
  align-items: center;
  margin-top: 20px;

  span {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid $blue;
    border-radius: 4px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: $blue;
  }

  a {
    @include link;
    font-size: 20px;
  }
}