$font-family: 'Roboto', sans-serif;

$font-regular: 400;
$font-regular-italic: 400i;
$font-bold: 700;
$font-bold-italic: 700i;

@mixin h1 {
  font-size: 56px;
  font-weight: $font-bold;
}

@mixin h2 {
  font-size: 48px;
  font-weight: $font-bold;
}

@mixin h3 {
  font-size: 32px;
  font-weight: $font-bold;
} 