include ../../../../base

+b.front-page
    +e.header GitBattle
        i(style='font-style: italic !important') !
    +e.subheader Close GitHub issues and win prizes
    br
    +e.actions
        button.button((click)='createContest()') Create new contest
        button.button.button--secondary((click)='signIn()', *ngIf='!user') Login with GitHub
