include ../../../base

app-logo

ng-container(*appLet="(contest$ | async) as contest")
    ng-container(*ngIf='contest')
        +b.contest-header
            +e.image
                img([src]='contest.imageURL | defaultImage', alt='')
            +e.right
                +e.title {{contest.title}}
                +e.info
                    | for
                    |
                    a([href]='"http://github.com/" + contest.owner + "/" + contest.repository', target='_blank') {{contest.owner}}
        +b.contest-deadline
            +e.icon
                i.pi.pi-calendar
            +e.text From {{contest.start | date: 'fullDate'}} to {{contest.end | date: 'fullDate'}}
        +b.contest-description
            +e.header About
            +e.content
                p {{contest.description}}

        +b.issue-list
            +e.header Open issues
            +e.subheader Earn points by closing issues

            ng-container(*ngIf='!issues?.length') There are no active issues here :(

            +e.busy-indicator(*ngIf='busy.issues')
                +busy-indicator

            +b.issue-element(*ngFor='let issue of issues')
                +e.points {{issue.points}}p
                +e.right
                    +e.A.title([href]='issue.href') {{issue.title}}
                    +e.info Opened on {{issue.createdAt | date: 'MMM L'}}

        +b.contest-leaderboard
            +e.header Leaderboard
            ng-container(*ngIf='!contest?.participants?.length') There are no participants :(
            +e.element(*ngFor='let user of contest.participants')
                span {{user.points}}
                a(href='https://github.com/Phil9l', target='_blank') {{user.nickname}}
