include ../../../base

app-logo

+b.create-header Create new contest
+b.create-field(id='select')
    +e.title Choose a repository
    +e.content
        +b.repo-element(*ngFor='let repository of repositories', (click)='selectRepository(repository)', [class.repo-element--selected]='repository.selected')
            +e.A.title {{repository.name}}

+b.issue-list(*ngIf='selectedRepository')
    +e.header Choose issues which will count towards this contest
    +e.subheader Selected {{selectedRepository.name}} as a contest repo.


    +b.issue-element.issue-element--editable(*ngFor='let issue of issues')
        +e.points
            span((click)='issue.decreasePoints()') –
            | {{issue.points}}
            span((click)='issue.increasePoints()') +
        +e.right
            +e.A.title(href='{{issue.link}}') {{issue.title}}
            +e.info {{issue.date}}

+b.create-field(*ngIf='selectedRepository')
    +e.title Set deadline for this event
    +e.info You will not be able to edit this later
    +e.content
        p-calendar([(ngModel)]="end", showTime="true", hourFormat="24")

+b.create-field(*ngIf='end')
    +e.title Add description
    +e.info Markdown is not supported yet
    +e.content
        +b.TEXTAREA.input.textarea(placeholder='Tell people about rules, prizes, etc.', [(ngModel)]='description')

+b.create-button(*ngIf='description && description.length')
    +b.BUTTON.button((click)='createContest()') Create contest
