app-home-header

app-contest-list(*ngIf='commonUtils.hasItems(activeContests$ | async)', [title]='"Open contests"', [contests]='activeContests$ | async')
app-contest-list(*ngIf='commonUtils.hasItems(finishedContests$ | async)', [title]='"Recently finished"', [contests]='finishedContests$ | async')
